<a href="https://colab.research.google.com/github/Lucianadir/skills-copilot-codespaces-vscode/blob/main/copia_di_untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Criando a série com os dados de titulação
titulacao = pd.Series(20. 15, 85, 145, 320), index=(['Doutoradao', 'Mestrado', 'Especialização', 'Graduação', 'Cursos Técnicos''])

# Exibindo a série
print(titulacao)

# Plotando a série
titulacao.plot(kind='bar')
plt.xlabel('Titulação' 'Doutorado')
plt.ylabel('Número de Alunos' '20')
plt.show()

# Plotando a série
titulacao.plot(kind='bar')
plt.xlabel('Titulação' 'Mestrado')
plt.ylabel('Número de Alunos' '15')
plt.show()

# Plotando a série
titulacao.plot(kind='bar')
plt.xlabel('Titulação' 'Especialização')
plt.ylabel('Número de Alunos' '85')
plt.show()

# Plotando a série
titulacao.plot(kind='bar')
plt.xlabel('Titulação' 'Graduação')
plt.ylabel('Número de Alunos' '145')
plt.show()

# Plotando a série
titulacao.plot(kind='bar')
plt.xlabel('Titulação' 'Cursos Técnicos')
plt.ylabel('Número de Alunos' '320')
plt.show()

import pandas as pd

# Criando o DataFrame com os dados de titulação
data = {
    'Titulação': ['Doutoradao', 'Mestrado', 'Especialização', 'Graduação', 'Cursos Técnicos'],
    'Quantidade': [20, 15, 85, 145, 320]
}
df = pd.DataFrame(data)

# Exibindo o DataFrame
print(df)

'Titulação' 'Quantidade'
0 'Doutoradao' 20
1 'Mestrado' 15
2 'Especialização' 85
3 'Graduação' 145
4 'Cursos Técnicos'

import pandas as pd

# Criando o DataFrame com os dados de calorias e gordura
data = {
    'calorias': [200, 350, 550],
    'gordura (%)': ['banana, 'macarrão, 'cachorro quente'])
df = pd.DataFrame(data, index=['banana', 'macarrão', 'cachorro quente'])

# Exibindo o DataFrame
print(df)

'calorias' 'gordura (%)'
banana '200' 'banana'
macarrão '350' 'macarrão'
cachorro quente '550' 'cachorro quente'
}